@import "../../../assets/less/constans";
@import "../../../assets/less/mixins";

.home {
  height: 100%;
  width: 100%;
  padding: 10px 27px;
  box-sizing: border-box;

  .top-line {
    padding: 25px 0 12px;
  }

  .content {
    position: relative;
    margin-top: 30px;
  }
}

