@import "constans";
@import "mixins";

body, html {
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #3e3e3e;
}

#app {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
  line-height: 14px;
}

p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 4px;
}

.button {
  min-width: 132px;
  height: 36px;
  border-radius: 2px;
  background-color: @primary;
  //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  button {
    background: @primary;
  }

  &:hover {
    background: @primaryActive;
  }

  &.start-over {
    margin-right: 20px;
  }

  &.warning {
    background: red;
  }

  &.disable {
    cursor: default;
    background: gray;
  }

  &.new-cluster {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10;
  }
}

.flex {
  .flex-center();

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    align-content: space-around;;
  }

  &.top {
    align-items: flex-start;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.column {
    flex-flow: column;
  }

  &.stretch {
    align-items: stretch;
  }

  .start {
    align-self: flex-start;
  }

  .end {
    align-self: flex-end;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(271deg, #ffcb49, #f4a12a);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
